<div class="main-content">

    <h2 class="page-title">
        Welcome to the Intranet
    </h2>

    <div class="card-box">
        <p>FMS designed to manage fees and student information!</p>
        <p>
            FMS provides a centralized platform for managing fees and student information 
            efficiently. It offers features such as fee tracking, student records management, 
            and reporting tools to streamline administrative tasks and enhance communication 
            between staff and students.
        </p>
        <ul>
            <li>Fee Tracking</li>
            <li>Student Records Management</li>
            <li>Reporting Tools</li>
        </ul>
    </div>


</div>