.header {
  background-color: #02563d;
  color: white;
  padding:0 20px;
  box-shadow: 0 5px 5px #00000026;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-btn {
  font-size: 22px;
  margin-right: 20px;
  cursor: pointer;
  background:none;
  border: none;
  color: white;

}

.logout-btn {
  
  background: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;  
}

.logout-icon {
  cursor: pointer;
  font-size: 18px;
}

.bms-link {
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}